<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

      <nav>{{user.username}}</nav>
        <h1 class = "welcome">Welcome {{user.name}} to Campus Connection</h1>

        <h2 class = "popularclasses">Popular posts(By class)</h2>
        <div class = "classesSub">
        <h2 class = "yourclasses">Your Classes</h2>

          <ul class = yourclassesSub>
            <li>Class 1</li>
            <li>Class 2</li>
            <li>Class 3</li>
            <li>Class 4</li>
            <li>Class 5</li>

          </ul>
          </div>


    </body>
</html>
