<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>
        <div id = "topnavbar">
          <h1 id = "titleFont" class = "gradient-text"><a href = '/Home/{{user.username}}'>UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">{{user.username}} | sign out</span>
        </div>
        <div class = "wrapper">
          <div class = "classesNav">
              <p class = "subHeader gradient-text" >Your Classes</p>
              <div class = "classesContainer">
                  {%for myclass in user.classes%}
                    <div class = "classListFont"><a href = '/ClassPage/{{user.username}}/{{myclass.id}}'>{{myclass.name}}</a></div>
                  {%endfor%}
              </div>
              <span class = "gradient-text"><a href = "{{ url_for('classes', username = user.username)}}"> Add Classes </a></span>
          </div>

          <div class = "latestpost">
              <p class = "subHeader gradient-text">Latest Posts</p>
          </div>

          <div class = "popularpost">
              <p class = "subHeader gradient-text">Popular Post</p>
          </div>

          <div id = "welcomeContainer">
              <h1 class = "subtitleFont gradient-text">~ Welcome Niners! ~</h1>
          </div>

          <div class = "searchbar">
            <form action = "search" method = "get">
            <p><input id = "searchHome" type = "text" placeholder="Search...", size = "93.5"></p>
            </form>
              <form class = "searchBarButton">
                <p><input type = "submit", value = "search">
              </form>
            </div>

        </div>

    </body>
</html>
