<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>

        <div class = "wrapper">
          <div class = "title">
          <h1 class = "gradient-text">UNCC Campus Connections</h1>

          </div>
          <div class = "topnavbar"><p class = "gradient-nav">{{user.username}} | sign out</p></div>



          <div class = "classes"><p class = "gradient-text"><a href = '{{url_for('classes', username = user.username)}}'>Classes
            <p class = 'gradient-text'>
          {%for myclass in user.classes%}
            <a href = '/ClassPage/{{user.username}}/{{myclass.id}}'>{{myclass.name}}
          {%endfor%}</p></a></p></div>
          <div class = "latestpost"><p class = "gradient-text">Latest Posts</p> </div>
          <div class = "popularpost"><p class = "gradient-text">Popular Post</p></div>
          <div class = "searchbar">
            <form action = "search" method = "get">
            <p><input type = "text" placeholder="Search...", size = "70";id "searchHome"></p>
            </form>
            </div>
            <div class = "searchbarbutton">
              <form>

                <p><input type = "submit", value = "search">
              </form>
            </div>

        </div>

    </body>
</html>
