<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>

        <div id = "topnavbar">
            <h1 id = "titleFont" class = "gradient-text"><a href = '/Home' >UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">{{user.username}} |
                {% if user %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('signup') }}">Register</a>
                {% endif %}
            </span>
        </div>

        <div class = "wrapper">
            <div class = "classesNav">
                <p class = "subHeader gradient-text" >Your Classes</p>
                {% if user %}
                <div class = "classesContainer">
                        <div class = "classListFont">
                            {%for myclass in classes%}
                                <a href = '/ClassPage/{{myclass.id}}'>{{myclass.name}} | </a>
                            {%endfor%}
                        </div>

                </div>
                {% endif %}
                <span class = "gradient-text">
                    <a href = "/Classes"> Add Classes </a>
                    <a href = '/Classes/join'> Join Class </a>
                </span>


            </div>

            <div class = "latestpost">
                <p class = "subHeader gradient-text">Latest Posts</p>
                {%for post in posts%}
                  <p class = 'gradient-text'>{{post.title}}</p>
                {%endfor%}
            </div>

            <div class = "popularpost">
                <p class = "subHeader gradient-text">Popular Post</p>
            </div>

            <div id = "welcomeContainer">
                <h1 class = "subtitleFont gradient-text">~ Welcome Niners! ~</h1>
            </div>

            <div class = "searchbar">
                <form action = "search" method = "get">
                    <p><input id = "searchHome" type = "text" placeholder="Search...", size = "93.5"></p>
                </form>
                <form class = "searchBarButton">
                    <p><input type = "submit", value = "search">
                </form>
            </div>
        </div>


    </body>
</html>
