<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>


        <div id = "topnavbar">
            <h1 id = "titleFont" class = "gradient-text"><a href = '/Home' >UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">{{user.username}} |
                {% if user %}
                    <a href="{{ url_for('classes') }}">Classes |</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('signup') }}">Register</a>
                {% endif %}
            </span>
        </div>

        <div class = "wrapper">
            <div class = "classesNav">
                <p class = "subHeader gradient-text" >AccessCode: {{classinfo.classcode}}</p>
                <span class = "gradient-text">
                    <a href = "{{url_for('post', username = user.username, id = classinfo.id)}}">Create Post</a>
                </span>


                <p class = "subHeader gradient-text"><a href = '{{url_for('classpost', id = classinfo.id)}}'>All Posts</a></p>
                <div class = "classesContainer"></div>
            </div>
            <div class = "wrapperRightContainer">
                <div class = "latestpost">
                    <p class = "subHeader gradient-text">Latest Posts</p>
                    {%for post in posts%}
                    <div class = "postContainer">

                          <div class = 'titleContainer'>
                            <p class = "gradient-text"><a href = "{{url_for('get_post', postid = post.id)}}">{{post.title}}</a></p>
                          </div>

                        {%if user.username == post.user.username%}
                          <form action = "{{url_for('editpost', username = user.username, id = classinfo.id, post_id = post.id)}}">
                            <button type = "submit" class = "postEditButton gradient-text">Edit</button>
                          </form>
                          {%endif%}
                        <p class = 'silver-gradient-text'>{{post.post}}</p>
                        <p class = 'silver-gradient-text'>{{post.convertdate}}</p>

                        <p class = 'gradient-text'>Posted by {{post.user.username}}</p>

                        <div class = "postButtonsContainer">
                            <span class = "gradient-text">{{post.upvote}}</span>
                            <form action = "{{url_for('upvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_up.png">
                            </form>
                            <span class = "gradient-text">{{post.downvote}}</span>
                            <form action = "{{url_for('downvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_down.png">
                            </form>
                            <span class = "gradient-text">{{post.ratio}}</span>
                        </div>
                    </div>
                    {%endfor%}
                </div>

                <div class = "popularpost">
                    <p class = "subHeader gradient-text">Popular Post</p>
                    {%for post in popularposts%}
                    <div class = "postContainer">
                        
                          <div class = 'titleContainer'>
                            <p class = "gradient-text"><a href = "{{url_for('get_post', postid = post.id)}}">{{post.title}}</a></p>
                          </div>

                        {%if user.username == post.user.username%}
                        <form action = "{{url_for('editpost', username = user.username, id = classinfo.id, post_id = post.id)}}">
                            <button type = "submit" class = "postEditButton gradient-text">Edit</button>
                        {%endif%}
                        </form>
                        <p class = 'silver-gradient-text'>{{post.post}}</p>
                        <p class = 'silver-gradient-text'>{{post.convertdate}}</p>

                        <p class = 'gradient-text'>Posted by {{post.user.username}}</p>
                        <div class = "postButtonsContainer">
                            <span class = "gradient-text">{{post.upvote}}</span>
                            <form action = "{{url_for('upvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_up.png">
                            </form>
                            <span class = "gradient-text">{{post.downvote}}</span>
                            <form action = "{{url_for('downvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_down.png">
                            </form>
                            <span class = "gradient-text">{{post.ratio}}</span>
                        </div>
                    </div>
                    {%endfor%}
                </div>

                <div id = "welcomeContainer">
                    <h1 class = "subtitleFont gradient-text">~ {{classinfo.name}} ~</h1>
                </div>

                <div class = "searchbar">
                    <form action = "search" method = "get">
                        <p><input id = "searchHome" type = "text" placeholder="Search...", size = "93.5"></p>
                    </form>
                    <form class = "searchBarButton">
                            <p><input type = "submit", value = "search">
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
