<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>

        <div id = "topnavbar">
            <h1 id = "titleFont" class = "gradient-text"><a href = '/Home' >UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">{{user}} |
                {% if user %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('signup') }}">Register</a>
                {% endif %}
            </span>
        </div>

        <div class = "wrapper">
          <div class = "title">
          <br/><h1 class = "gradient-text">{{classinfo.name}}</h1>

          </div>
          <div class = "topnavbar"><p class = "gradient-nav">{{user.username}} | sign out</p><p><a href = '/Home'>Home</a></p>
          <p><a href = '{{url_for('post', username = user.username, id = classinfo.id)}}'>Create Post</a></p></div>



          <div class = "classes"><p class = "gradient-text"><a href = '/Classes'>Topics</a></p></div>

          <div class = "latestpost"><p class = "gradient-text">Latest Posts</p>

            {%for post in posts%}

            <form action = '{{url_for('editpost', username = user.username, id = classinfo.id, post_id = post.id)}}'>
              <p class = 'gradient-text'>{{post.title}}</p>
              <input type = "submit" value = "Edit"/>
            </form>
            {%endfor%}

          </div>
          <div class = 'latestpostsub'></div>
          <div class = "popularpost"><p class = "gradient-text">Popular Post</p></div>
          <div class = 'popularpostsub'></div>

          <div class = "searchbar">
            <form action = "search" method = "get">
                <p class = 'searchaesthetic'><input type = "text" placeholder="Search...", size = "70";id "searchHome"></p>
            </form>
          </div>

            <div class = "searchbarbutton">
              <form>

                <p><input type = "submit", value = "search"></p>
              </form>
            </div>

        </div>

    </body>
</html>
