<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>
        <div id = "topnavbar">
            <h1 id = "titleFont" class = "gradient-text"><a href = '/Home' >UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">
                <a href = '/Home'>{{user}} |</a>
                {% if user %}
                    <a href="{{ url_for('classes') }}">Classes |</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('signup') }}">Register</a>
                {% endif %}
            </span>
        </div>
        <div class = "container">
            <div class = "postDetailContainer">
                <nav class = "postDetailButtons">
                {%if user == post.user.full_name%}
                  <form action = "{{url_for('editpost', username = user.username, id = classinfo.id, post_id = post.id)}}">
                    <button type = "submit" class = "gradient-text">Edit</button>
                  </form>
                  <form action = "{{url_for('deletepost', postid = post.id)}}">
                    <button type = "submit" class = "gradient-text">Delete</button>
                  </form>
                {%endif%}
                </nav>
                <p class = "miniSubHeader gradient-text">
                    {{ post.title }}
                    <span id = "postDetailSection" class = "silver-gradient-text">
                        Posted by {{post.user.username}} on {{ post.convertdate }}
                    </span>
                </p>
                <p class = "silver-gradient-text">{{ post.post }}</p>

                <div class = "postButtonsContainer">
                            <span class = "gradient-text">{{post.upvote}}</span>
                            <form action = "{{url_for('upvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_up.png">
                            </form>
                            <span class = "gradient-text">{{post.downvote}}</span>
                            <form action = "{{url_for('downvote', postid = post.id)}}">
                                <input type="image" src="/static/arrow_down.png">
                            </form>
                            <span class = "gradient-text">{{post.ratio}}</span>
                </div>
            </div>
            <form action="{{ url_for('new_comment', postid=post.id) }}" method="post">
              <div class="addClass">
                <h2 class="miniSubHeader gradient-text">Add a comment</h2>
                <div class="form-field">
                  {{ form.comment.label }} <br/> {{ form.comment }}
                </div>
                {{ form.submit }}
              </div>
            </form>
            <h2 class = "miniSubHeader gradient-text">Comments</h2>

            <ul>
                {% for comm in comments %}
                  <section class = "commentWrapper">
                    <p class = "gradient-text">{{comm.userrelation}}: {{ comm.content }}</p>
                  </section>
                {% endfor %}
            </ul>

        </div>
    </body>
</html>
