<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>

       <h1>Welcome {% if user %}{{user}}{% endif %}to the 49er Notes App!</h1>

        <h2>Use this site to maintain and organize your notes.</h2>
        <div class="formwrapper">
            <h2 class="title">Login</h2>
            <form method="POST" action="{{url_for('login')}}">
                <div class="form-field">{{ form.username.label }} {{ form.username }}
                    {% if form.username.errors %}
                    <ul class="errors">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>

    </body>
</html>
