<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>
        <div class = "title">
            <h1 class = "gradient-text">UNCC Campus Connections</h1>
        </div>


    <main>
		<div class="wrapper">
			<div id="login" style="float: left; border-style: solid; padding: 25px; background-color: white;">
				<form action=#>
					<p> Username:<br></p>
						<label>
							<input type="text" placeholder="Username" class="username" required>
						</label>
					<p> Password:<br></p>
						<label>
							<input type="text" placeholder="Password" class="password" required>
						</label>
						<br><br>
					<label>
						<button type="submit">Submit</button>
					</label>
				</form>
			</div>


			<div id="signup" style="float: left; border-style: solid; padding: 25px; background-color: white;">
				<form action=#>
					<p> Full Name:<br></p>
						<label>
							<input type="text" placeholder="Full Name" class="fullName" required>
						</label>
					<p> Username:<br></p>
						<label>
							<input type="text" placeholder="Username" class="username" required>
						</label>
					<p> Email:<br></p>
						<label>
							<input type="email" placeholder="Email Address" class="email" required>
						</label>
					<p> Password:<br></p>
						<label>
							<input type="text" placeholder="Password" class="password" required>
						</label>
						<br><br>
					<label>
						<button type="submit">Submit</button>
					</label>
				</form>
			</div>
		</div>
	</main>

    </body>
</html>

