<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>CampusConnection</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='AccountHomeStyle.css') }}">
    </head>
    <body>

        <div id = "topnavbar">
            <h1 id = "titleFont" class = "gradient-text"><a href = '/Home' >UNCC Campus Connections</a></h1>
            <span id = "navLinks" class = "gradient-text">{{user}} |
                {% if user %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a> ||
                    <a href="{{ url_for('signup') }}">Register</a>
                {% endif %}
            </span>
        </div>

      <div class = "container">
          <h1 class = "subHeader gradient-text">Create Post</h1>
          <section class = "addClass">
            {%if posts%}
              <form action = '{{url_for('editpost' , id = classinfo.id, post_id = posts.id)}}' method = 'post'>
            {%else%}
                <form action = '/ClassPage/{{classinfo.id}}/post' method = 'post'>
            {%endif%}

            <p><label class = "gradient-text">Title </label></p>
            <p><input type="text" name="title" value = "{%if posts%} {{posts.title}}{%endif%}"/></p>
            <p><label class = "gradient-text">Post </label></p><p><textarea class = "textBox" name="post"  rows="6" cols="32">

            {%if posts%}
                {{posts.post}}
            {%else%}
                Post...
            {%endif%}
                </textarea></p>

            {%if posts%}
                <p><input type="submit" value="Edit Post"/></p>
            {%else%}
                <p><input type="submit" value="Post"/></p>
            {%endif%}
                </form>
          </section>
      </div>

    </body>
</html>
